* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #29303b;
}

.udemy-btn-white {
  font-size: 15px;
  font-weight: 700;
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #686f7a;
  border-radius: 2px;
  padding: 11px 12px;
}

.udemy-btn-white:hover {
  background-color: #fff;
  border-color: #29303b;
  color: #29303b;
}

.udemy-btn-orange {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  border-radius: 2px;
  padding: 11px 12px;
}

.udemy-btn-orange:hover {
  background-color: #992337;
  border-color: #992337;
  color: #fff;
}

header .navbar {
  font-size: 13px;
  font-weight: normal;
  color: #505763;
}

header .navbar .nav-link {
  font-size: 13px;
  font-weight: normal;
  color: #505763;
}

.header__left {
  display: flex;
}

.header__left .navbar-brand {
  display: block;
  margin-right: 35px;
}

.header__left .navbar-brand img {
  width: 110px;
}

.header__left .header__categories {
  display: block;
  margin-right: 35px;
  align-self: center;
}

.header__left .header__categories i {
  margin-right: 10px;
}

.header__left .header__form {
  background-color: #dedfe0;
  flex-grow: 1;
}

.header__left .header__form .input-group input {
  padding: 20px 10px;
  background-color: #F2F3F5;
  border: none;
}

.header__left .header__form .input-group-text {
  color: #ec5252;
  transition: all .2s;
  background-color: #F2F3F5;
  border: none;
}

.header__left .header__form .input-group-text:hover {
  background-color: #ec5252;
  color: #fff;
}

.header__left .navbar-toggler {
  color: #686f7a;
  opacity: 1;
}

.header__right .navbar-nav {
  align-items: baseline;
}

.header__right .navbar-nav .nav__business {
  margin-right: 25px;
}

.header__right .navbar-nav .nav__tech {
  margin-right: 25px;
}

.header__right .navbar-nav .nav__cart {
  padding: 0 20px;
  border-left: 1px solid #cacbcc;
}

@media screen and (max-width: 1200px) {
  .header__right .nav__business, .header__right .nav__tech {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__right .udemy-btn-group {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__left {
    justify-content: center;
  }
  .header__left .header__categories, .header__left .header__form {
    display: none;
  }
}

.udemy-carousel {
  background-image: url("../../img/cover.jpg");
  height: 400px;
  position: relative;
}

.udemy-carousel .udemy-carousel__content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.udemy-carousel .udemy-carousel__content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.udemy-carousel .udemy-carousel__content p {
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}

.udemy-carousel .udemy-carousel__content .udemy-carousel__form {
  background-color: #dedfe0;
  flex-grow: 1;
}

.udemy-carousel .udemy-carousel__content .udemy-carousel__form .input-group input {
  padding: 20px 10px;
  background-color: #F2F3F5;
  border: none;
}

.udemy-carousel .udemy-carousel__content .udemy-carousel__form .input-group-text {
  color: #ec5252;
  transition: all .2s;
  background-color: #F2F3F5;
  border: none;
}

.udemy-carousel .udemy-carousel__content .udemy-carousel__form .input-group-text:hover {
  background-color: #ec5252;
  color: #fff;
}

.udemy-carousel .udemy-carousel__content .udemy-carousel__form input {
  font-size: 24px;
  padding: 20px 0;
}
/*# sourceMappingURL=main.css.map */