* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    // style for all page 
    @include styleText($fs-0, $fw-normal, $color-black-0)
}