.courses {
    padding: $pd-3 0;
    .courses__intro {
        background-color: $color-gray-5;
        position: relative;
        .courses__text {
            @include centerTextBox;

        }
    }
    .courses__item {
        @include courses__item();
        
    }
    .courses__link {
        border-bottom: 1px solid $color-gray-6;
        height: 70px;
        .nav-item { 
            height: 100%;
            .nav-link {
                background-color: $color-white-0;
                color: $color-black-0;
                padding: 0 $pd-1 $pd-1;
                 
            }
            
           
        }
        
    }
    
}