.feedback {
    margin-bottom: $mg-3;
    background-color: $color-gray-5;
    height: 400px;
    h2 {
        @include styleText($fs-3, $fw-bold, $color-black-0);
        padding: $pd-3 0;
    }
    .feedback_item {
        background-color: $color-white-0;
        height: 300px;
        padding: $pd-4;
        
    }
    .feedback__infor {
        align-items: center;
            img {
                padding: $pd-2;
                border-radius: 50%;
                width: 100%;
            }
            p {
                @include styleText($fs-2, $fw-bold,$color-black-0)
            }
    }
    
}